node-red_json
[
  {
    "id": "tab1",
    "type": "tab",
    "label": "Textile Packaging System",
    "disabled": false
  },
  {
    "id": "mqtt_in",
    "type": "mqtt in",
    "z": "tab1",
    "name": "ESP32 Data",
    "topic": "factory/label",
    "qos": "2",
    "datatype": "json",
    "broker": "mqtt_broker",
    "x": 120,
    "y": 100,
    "wires": [["calc_function"]]
  },
  {
    "id": "calc_function",
    "type": "function",
    "z": "tab1",
    "name": "Calculate Label Count",
    "func": "// calibration weight (example)\nvar unitWeight = flow.get(\"unitWeight\") || 0.5;\n\nvar diff = msg.payload.weight_diff;\n\nif(diff < 0.1){\n    return null;\n}\n\nvar count = Math.round(diff / unitWeight);\n\nmsg.payload.count = count;\nreturn msg;",
    "outputs": 1,
    "x": 340,
    "y": 100,
    "wires": [["validation_switch"]]
  },
  {
    "id": "validation_switch",
    "type": "switch",
    "z": "tab1",
    "name": "Valid Count?",
    "property": "payload.count",
    "rules": [
      {"t": "gt", "v": "0", "vt": "num"},
      {"t": "else"}
    ],
    "checkall": "true",
    "outputs": 2,
    "x": 550,
    "y": 100,
    "wires": [["mes_prep"], []]
  },
  {
    "id": "mes_prep",
    "type": "function",
    "z": "tab1",
    "name": "Prepare MES Payload",
    "func": "msg.payload = {\n    device_id: msg.payload.device_id,\n    model: flow.get(\"model\") || \"X123\",\n    color: flow.get(\"color\") || \"Black\",\n    size: flow.get(\"size\") || \"M\",\n    count: msg.payload.count,\n    timestamp: new Date()\n};\nreturn msg;",
    "outputs": 1,
    "x": 770,
    "y": 100,
    "wires": [["http_mes","dashboard"]]
  },
  {
    "id": "http_mes",
    "type": "http request",
    "z": "tab1",
    "name": "Send to MES",
    "method": "POST",
    "ret": "txt",
    "url": "http://mes-system/api/update",
    "x": 1000,
    "y": 80,
    "wires": []
  },
  {
    "id": "dashboard",
    "type": "ui_text",
    "z": "tab1",
    "group": "dashboard_group",
    "name": "Dashboard Output",
    "label": "Last Packaging Data",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1000,
    "y": 140,
    "wires": []
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "Local Broker",
    "broker": "localhost",
    "port": "1883"
  },
  {
    "id": "dashboard_group",
    "type": "ui_group",
    "name": "Packaging Dashboard",
    "tab": "dashboard_tab",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "dashboard_tab",
    "type": "ui_tab",
    "name": "Factory Dashboard",
    "icon": "dashboard"
  }
]
